@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.flex{
    display: flex;
}


.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.btn{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-primary{
    background: #428c20;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.btn-primary:hover{
    background: transparent;
    border-color: #428c20;
    color: #428c20;
}

.btn-secondary{
    background: transparent;
    color: #428c20;
    border-color: #428c20;
}

.flex-1{
    flex: 1;
}

.section-heading{
    font-family: 'Lobster',sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 12rem;

}
.section-heading:after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom:-30px;
}

.text-center{
    text-align: center;
}

.text-pure{
    color: white;
}